.root {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: none;
  height: 50%;
  left: 0;
  overflow: scroll;
  position: fixed;
  resize: vertical;
  right: 0;
  top: 0;
  z-index: 1000;
}
